<script src="./navbar.js" defer></script>
<a href="/" id="title" class="text-4xl font-['lobster'] text-accent col-start-1 
                        lg:ml-15 lg:mt-5 mt-5 ml-10 row-start-1 content-end text-right hover:text-accent-dark hover:scale-105 transition-all" style="user-select: none;" aria-label="Affilians">&#916;ffilians</a>

<button hx-get="/pages/login.html" hx-target="#page" hx-trigger="click" id="login" class="text-lg text-secondary col-start-12 row-start-1 hover:bg-primary-light transition-all" style="user-select: none;">Login</button>